*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.search{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
input,button{
  padding: 1rem 1rem;
  margin-left:15px;
  
}